name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: mennylevinski
          outputs: dist/snake.svg

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist/snake.svg"
          author_name: github-actions
          author_email: github-actions@github.com
          message: "Update snake animation"
